<footer class="footer footer-default" >
  <p class="text-center"><h4>O2Micro Copyright ©2019
    <br>Design by <a href="http://www.o2micro.com" target=_new>O2Micro</a></h4>
  </p>
		</div>
	</div>
</footer>