<ul class="list-group">
  <li class="list-group-item">
    <a>My owned issues<span class="badge">32</span></a>
  </li>  
  <li class="list-group-item">
    <a>My submitted<span class="badge">50</span></a>
  </li>  
  <li class="list-group-item">
    <a>My owned projects<span class="badge">52</span></a>
  </li>  
  <li class="list-group-item">
    <a>Recent Releases<span class="badge">57</span></a>
  </li>
</ul>
<ul>


</ul>
<ul class="list-group">
  <li class="list-group-item">
    <a>Create new search<span class="badge">14</span></a>
  </li>
</ul> 